<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tws.plugin.core"
    android:versionCode="1"
    android:versionName="1.0">

    <application>
        <provider
            android:name="com.tws.plugin.servicemanager.ServiceProvider"
            android:authorities="${applicationId}.svcmgr"
            android:exported="true" />

        <receiver
            android:name="com.tws.plugin.bridge.TwsPluginBridgeReceiver"
            android:exported="true" />
        <service android:name="com.tws.plugin.bridge.TwsPluginBridgeService" />

        <!-- core need-->
        <provider
            android:name="com.tws.plugin.manager.PluginManagerProvider"
            android:authorities="com.rick.tws.pluginhost.manager"
            android:exported="false"
            android:process=":pmaster" />

        <!-- 对Receiver的类全名没有要求，可随意指定，框架中是通过action来查询。注册1个即可(广播自身是ipc通讯的,运行在宿主进程) -->
        <receiver
            android:name="${applicationId}.stub.PluginStubReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- 特别要求需要多进程的Service坑位申明 -->
        <service
            android:name="${applicationId}.stub.PluginMPService1"
            android:process=":plugin1">
            <intent-filter>
                <action android:name="com.rick.tws.plugin.MP_STUB_DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMPService2"
            android:process=":plugin2">
            <intent-filter>
                <action android:name="com.rick.tws.plugin.MP_STUB_DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMPService3"
            android:process=":plugin3">
            <intent-filter>
                <action android:name="com.rick.tws.plugin.MP_STUB_DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMPService4"
            android:process=":plugin4">
            <intent-filter>
                <action android:name="com.rick.tws.plugin.MP_STUB_DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMPService5"
            android:process=":plugin5">
            <intent-filter>
                <action android:name="com.rick.tws.plugin.MP_STUB_DEFAULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- 所有的插件中共有多少个Service, 这里就至少需要注册多少个对应的虚拟Service(也可以大于，实际上这里的数量只需>=可能同
			时处于运行状态的service数量，一般预注册十来个应该绰绰有余了)，
			这里的虚拟Service并不需要真实存在，
			只是占个位置，运行实动态绑定到实际的插件Service
			对service的类全名没有要求，可随意指定，框架中是通过action来查询。 -->
        <!-- /////////////////////////////////////// part 1:宿主进程的坑位申明 begin /////////////////////////////////////// -->
        <!-- service 组件申明 -->
        <service android:name="${applicationId}.stub.PluginHostService1">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService2">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService3">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService4">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService5">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService6">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService7">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService8">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="${applicationId}.stub.PluginHostService9">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- activity 组件申明 -->
        <!-- standard 申明一个就可以 -->
        <activity
            android:name="${applicationId}.stub.PluginHostActivity0"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleTop -->
        <activity
            android:name="${applicationId}.stub.PluginHostSTopActivity1"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSTopActivity2"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSTopActivity3"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSTopActivity4"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleTask -->
        <activity
            android:name="${applicationId}.stub.PluginHostSTaskActivity1"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSTaskActivity2"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSTaskActivity3"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSTaskActivity4"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleInstance -->
        <activity
            android:name="${applicationId}.stub.PluginHostSIActivity1"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSIActivity2"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSIActivity3"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSIActivity4"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginHostSIActivity5"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginhost.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- /////////////////////////////////////// part 1:宿主进程的坑位申明 end /////////////////////////////////////// -->

        <!-- /////////////////////////////////////// part 2:pmaster进程的坑位申明 begin /////////////////////////////////////// -->
        <!-- service 组件申明 -->
        <service
            android:name="${applicationId}.stub.PluginMasterService1"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService2"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService3"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService4"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService5"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService6"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService7"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService8"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMasterService9"
            android:process=":pmaster">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- activity 组件申明 -->
        <!-- standard 申明一个就可以 -->
        <activity
            android:name="${applicationId}.stub.PluginMasterActivity0"
            android:exported="true"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleTop -->
        <activity
            android:name="${applicationId}.stub.PluginMasterSTopActivity1"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSTopActivity2"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSTopActivity3"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSTopActivity4"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleTask -->
        <activity
            android:name="${applicationId}.stub.PluginMasterSTaskActivity1"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSTaskActivity2"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSTaskActivity3"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSTaskActivity4"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleInstance -->
        <activity
            android:name="${applicationId}.stub.PluginMasterSIActivity1"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSIActivity2"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSIActivity3"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSIActivity4"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMasterSIActivity5"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pmaster"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginmaster.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- /////////////////////////////////////// part 2:pmaster进程的坑位申明 end /////////////////////////////////////// -->

        <!-- /////////////////////////////////////// part 3:pminor进程的坑位申明 begin /////////////////////////////////////// -->
        <!-- service 组件申明 -->
        <service
            android:name="${applicationId}.stub.PluginMinorService1"
            android:process=":pminor">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMinorService2"
            android:process=":pminor">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMinorService3"
            android:process=":pminor">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMinorService4"
            android:process=":pminor">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMinorService5"
            android:process=":pminor">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="${applicationId}.stub.PluginMinorService6"
            android:process=":pminor">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- activity 组件申明 -->
        <!-- standard 申明一个就可以 -->
        <activity
            android:name="${applicationId}.stub.PluginMinorActivity0"
            android:exported="true"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleTop -->
        <activity
            android:name="${applicationId}.stub.PluginMinorSTopActivity1"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMinorSTopActivity2"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMinorSTopActivity3"
            android:exported="true"
            android:launchMode="singleTop"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleTask -->
        <activity
            android:name="${applicationId}.stub.PluginMinorSTaskActivity1"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMinorSTaskActivity2"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMinorSTaskActivity3"
            android:exported="true"
            android:launchMode="singleTask"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- singleInstance -->
        <activity
            android:name="${applicationId}.stub.PluginMinorSIActivity1"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMinorSIActivity2"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="${applicationId}.stub.PluginMinorSIActivity3"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":pminor"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rick.tws.pluginminor.STUB_DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- /////////////////////////////////////// part 3:pminor进程的坑位申明 end /////////////////////////////////////// -->
    </application>

</manifest>
