/TwsPluginHelloWorld/bin/*
/TwsPluginHelloWorld/gen/*
/TwsPluginShareLib/bin/*
/TwsPluginShareLib/gen/*
/TwsPluginCore/bin/*
/TwsPluginCore/gen/*
/TwsPluginHost/bin/*
/TwsPluginHost/gen/*
/TwsPluginDemo/bin/*
/TwsPluginDemo/gen/*
