/TwsPluginHelloWorld/bin/*
/TwsPluginHelloWorld/gen/*
/TwsPluginShareLib/bin/*
/TwsPluginShareLib/gen/*
/TwsPluginCore/bin/classes
/TwsPluginCore/bin/res
/TwsPluginCore/bin/AndroidManifest.xml
/TwsPluginCore/bin/R.txt
/TwsPluginCore/gen/*
/TwsPluginHost/bin/*
/TwsPluginHost/gen/*
/TwsPluginDemo/bin/*
/TwsPluginDemo/gen/*
