/bin/*.xml
/bin/classes/com/example/plugindemo/*.class
/bin/classes/com/example/plugindemo/activity/*.class
/bin/classes/com/example/plugindemo/fragment/*.class
/bin/classes/com/example/plugindemo/provider/*.class
/bin/classes/com/example/plugindemo/receiver/*.class
/bin/classes/com/example/plugindemo/service/*.class
/bin/classes/com/example/plugindemo/tab/*.class
/bin/classes/com/example/plugindemo/view/*.class
/bin/classes/com/example/plugindemo/vo/*.class
/gen/com/example/plugindemo/*.java
/bin/*.apk
/bin/*.dex
/bin/classes/com/example/plugindemo/communicationdma/*.class
/bin/classes/com/example/plugindemo/communicationdma/account/*.class
/bin/classes/com/example/plugindemo/communicationdma/cmd/*.class
/bin/classes/com/example/plugindemo/communicationdma/download/*.class
/bin/classes/com/example/plugindemo/communicationdma/filetransfer/*.class
/bin/res/drawable-xhdpi/*.png
/bin/*.ap_
