<?xml version="1.0" encoding="utf-8"?>
<!-- 这里配置sharedUserId的作用，是为了告诉宿主程序，这个插件需要依赖宿主程序的class和资源
如果不配置这个参数，表示这个插件是一个独立插件，即本身可以独立安装运行 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plugindemo"
    android:sharedUserId="com.tencent.tws.pluginhost"
    android:versionCode="2"
    android:versionName="2.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <application
        android:name="com.example.plugindemo.PluginTestApplication"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >

        <!-- uses-library作用是用来通知插件框架此插件依赖哪些其他插件 -->
        <!-- <uses-library
            android:name="com.example.pluginbase"
            android:required="true" /> -->

        <!-- 测试插件Meta-Data -->
        <meta-data
            android:name="abcdef"
            android:value="654321" />

        <!-- 显示位置pos： 1 Hotseat； 2 MyWatchFragment； 3 ActionBarMenu； 4 其他 -->
        <!-- 分隔符： # 分割DisplayConfig； @ 分割DisplayConfig的属性； = 属性赋值； / 分割属性值 -->
        <!-- 图标资源icon：统一使用 模块名_[hotseat or watch_fragment or menu]_描述信息.png 配置在AndroidManifest.xml不需要带后缀。 【normal/focus/press/...】 -->
        <!-- 标题title：中文/英文 也可以只配置一个 -->
        <!-- 显示内容content：如果是fragment 直接配置name,其他的配置类全名信息 -->
        <!-- 内容类型ctype：1 fragment； 2 activity； 3 service； 4 application； 5 view -->
        <!-- 插件启动时机： 1 手动触发 2 随DM启动 3 配对成功后 -->
        <!-- 插件依赖： 1 已安装的app 2 已安装的插件 -->
        <!-- ActionBar 配置只在显示位置是Hotseat的前提下可用 -->
        <!-- ActionBar标题ab-title：actionbar标题 中文/英文 也可以只配置一个 暂不支持subTitle -->
        <!-- ActionBar右侧按钮显示内容ab-rbtncontent：actionbar右侧按钮点击触发显示内容 -->
        <!-- ActionBar右侧按钮显示内容类型ab-rbtnctype：  触发显示内容 的类型 1 fragment； 2 activity； 3 service； 4 application； 5 view（当前只支持activity，如果是activity可以不配置） -->
        <!-- ActionBar右侧按钮内容ab-rbtnres: 显示在按钮上的内容根据类型不同而不一样(类型1 文本；类型2 图标 -->
        <!-- ActionBar右侧按钮内容ab-rbtnrestype:1、文本按钮(res配置中英文String) 2、ImageButton(res配置图标) -->
        <plugin-display android:value="pos=1/3@title=示例Fragment/demoFragement/HK繁體碎片/TW繁體碎片@content=some_id_for_fragment3@ctyle=1@icon=demo_hotseat_default/demo_hotseat_pressed@ab-title=实例/Demo@ab-rbtnrestype=2@ab-rbtnres=demo_rbar_nomal/demo_rbar_pressed@ab-rbtnctype=2@ab-rbtncontent=com.example.plugindemo.activity.LauncherActivity" />
        <plugin-display android:value="pos=2/5@title=示例/demoActivity/繁體示例@content=com.example.plugindemo.activity.LauncherActivity@ctyle=2@icon=demo_watch_fragment_des" />

        <!-- 通知插件框架哪些fragment是可以嵌入宿主Activity的，如果fragment只是插件内使用，无需对外暴露则无需配置 -->
        <exported-fragment
            android:name="some_id_for_fragment1"
            android:value="com.example.plugindemo.fragment.PluginNormalFragment" />
        <!-- 通知插件框架哪些fragment是可以嵌入宿主Activity的，如果fragment只是插件内使用，无需对外暴露则无需配置 -->
        <exported-fragment
            android:name="some_id_for_fragment2"
            android:value="com.example.plugindemo.fragment.PluginSpecFragment" />
        <!-- 通知插件框架哪些fragment是可以嵌入宿主Activity的，如果fragment只是插件内使用，无需对外暴露则无需配置 -->
        <exported-fragment
            android:name="some_id_for_fragment3"
            android:value="com.example.plugindemo.fragment.PluginSpecTwsFragment" />

        <!-- 通知插件框架本插件向外提供的业务服务接口 android:value为实现,android:label为接口 -->
        <!-- <exported-service
            android:name="login_service"
            android:label="com.example.pluginbase.ILoginService"
            android:value="com.example.plugindemo.PluginLoginService" /> -->
        <!-- 如果服务需要支持跨进程调用，例如被宿主进程调用，则需要配置android:label为服务所实现的接口className -->
        <exported-service
            android:name="share_service"
            android:label="com.tencent.tws.sharelib.ShareService"
            android:value="com.example.plugindemo.PluginSharedService" />

        <activity
            android:name=".activity.LauncherActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.SideBarActivity" >
            <intent-filter>
                <action android:name="test.ajc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.PluginCoreSamples" >
            <intent-filter>
                <action android:name="test.anc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.ShareWidgetSamples" >
            <intent-filter>
                <action android:name="test.amc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.tab.TabViewpagerActivity" >
            <intent-filter>
                <action android:name="test.ajc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.tab.TwsActionBarTab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.tab.TwsActionBarTabCustom"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.tab.TwsActionBarTabSecond"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.tab.TwsActionBarTabSecondCustom"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.example.plugindemo.activity.PluginTestActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="test.abc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.PluginFragmentTestActivity"
            android:windowSoftInputMode="stateAlwaysVisible" >
            <intent-filter>
                <action android:name="test.def" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.PluginNotInManifestActivity"
            android:hardwareAccelerated="true"
            android:immersive="true"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="test.xyz1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="testhost"
                    android:scheme="testscheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.PluginForOppoAndVivoActivity" >
            <intent-filter>
                <action android:name="test.ijk" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.PluginTestOpenPluginActivity" >
            <intent-filter>
                <action android:name="test.zxc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.PluginWebViewActivity" >
            <intent-filter>
                <action android:name="test.webXX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.PluginForDialogActivity" >
            <intent-filter>
                <action android:name="test.dialogXX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.PluginSingleTaskActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.tab.PluginTestTabActivity" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.TransparentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service android:name="com.example.plugindemo.service.PluginTestService" >
            <intent-filter>
                <action android:name="test.lmn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.plugindemo.service.PluginTestService2"
            android:process=":plugin" >
            <intent-filter>
                <action android:name="test.lmn2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name="com.example.plugindemo.receiver.PluginTestReceiver" >
            <intent-filter>
                <action android:name="test.rst" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="test.rst2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.plugindemo.receiver.PluginTestReceiver2" >
            <intent-filter>
                <action android:name="test.rst2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.example.plugindemo.provider.PluginContentProvider"
            android:authorities="com.example.plugindemo.provider"
            android:exported="true" />

        <activity android:name="com.example.plugindemo.activity.category.AlertDialogSamples" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.PickersSamples" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.ListViewSamples" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.plugindemo.activity.category.TwsBaseWidget" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.picker.DateTimePickerView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.picker.DatePickerView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.picker.ProfileDataPickerView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.picker.TimePickerView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.picker.PickerDialogOutside"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.TabSamples"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.PreferenceActivityDemo"
            android:screenOrientation="portrait" >
        </activity>

        <!--  -->
        <activity
            android:name="com.example.plugindemo.activity.actionbar.ActionBarSamples"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.actionbar.ActionBarDisplayOptions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.actionbar.ActionBarNormalButton"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.actionbar.ActionMenuSelectedText"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.actionbar.ActionModeNormal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.actionbar.ActionBarGradient"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.CheckListView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.ListViewComplex"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.ListViewTest"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.MultipleChoiceList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.NormalListView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.SimpleListView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.BaseExpandableListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.CustomExpandableListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.SimpleExpandableListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.plugindemo.activity.category.listview.sortlistview.SortListviewActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>